@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    background-color: blueviolet;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
h1{
margin-bottom: 10px;
}
h2{
    font-size: 50px;
    margin-top: 0%;
    margin-bottom: 20px;
}
button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;

}
#increment-btn{
    background: darkgreen;

}
#SAVE-btn{
    background: darkkhaki;

}
